<form action="/" method="post">
<table>
    <tr>
        <td>
            <textarea name="code" rows="10" cols="40">{{ code|escape }}</textarea>
        </td>
        <td>
            Settings<br/>
            <select name="lexer">
            {% for item in lexers %}
            <option {% ifequal item.0 lexer %}selected="selected" {% endifequal %}value="{{ item.0|escape }}">{{ item.1|escape }}</option>
            {% endfor %}
            </select>
            <br/>
            <input type="submit" value="Highlight!"/>
        </td>
    </tr>
    <tr>
        <td>
            <textarea name="html" rows="10" cols="40"/>{{ html|escape }}</textarea>
        </td>
        <td>
            {{ html }}
        </td>
    </tr>
</table>
</form>
